---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    id="page"
    class="page"
  >
    <div class="container">
      <div class="content">
        <h1>Yifeng Wang</h1>
        <p>
          Yoga, Tanz / Improvisation, Klangschalen-Therapie<br />
          <br />
          <i class="fa-solid fa-envelope"></i>
          <a href="mailto:mail@yifeng.de">mail@yifeng.de</a>
        </p>
      </div>
    </div>
  </div>
</Layout>
