---
const UPDATE_TIME = 1747753567;
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>Yifeng Wang</title>
    <meta
      name="description"
      content="Yifeng Wang | Yoga, Tanz und Klangschalen-Therapie in Freiburg"
    />
    <meta
      name="keywords"
      content="yifeng, yoga, klangschale, tanz, tanzen, improvisation, performance, somatik"
    />
    <meta
      name="generator"
      content="hosting-page-builder"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <meta
      name="og:url"
      content="https://www.yifeng.de/index.html"
    />
    <meta
      name="og:locale"
      content="de"
    />
    <meta
      name="og:type"
      content="website"
    />
    <meta
      name="og:title"
      content="Yifeng Wang"
    />
    <meta
      name="og:description"
      content="Yifeng Wang | Yoga, Tanz und Klangschalen-Therapie in Freiburg"
    />
    <meta
      name="og:updated_time"
      content={UPDATE_TIME.toString()}
    />
    <link
      rel="stylesheet"
      href="https://assets.storage.infomaniak.com/fonts/font-awesome/4.3.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open Sans"
    />
    <link
      rel="stylesheet"
      href="./style.css"
    />
  </head>

  <body>
    <slot />
  </body>
</html>
